version: "3.4"
services:
  postgres:
    restart: always
    image: postgres:12
    environment:
      POSTGRES_USER: {{ disc_backend_pg_user }}
      POSTGRES_PASSWORD: {{ disc_backend_pg_password }}
      POSTGRES_DB: {{ disc_backend_pg_dbname }}
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data

  disc_backend:
    restart: always
    image: {{ disc_backend_image }}
    command: disc_backend-api
    ports:
      - 80:8081
    environment:
      DISC_PG_URL: postgresql://{{ disc_backend_pg_user }}:{{ disc_backend_pg_password }}@postgres/{{ disc_backend_pg_dbname }}
